{% extends 'base.html' %}
{% block title %} Add product 2 {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Add an ingredient</h1>
Task: {{ task }}<br>
Tasklist: {{ tasklist }}<br>
	<div class="form-group">
	  <form method="POST" class="row" method="POST" action="{% url 'product_match' task tasklist %}" >
		<div class="col ">
			<div class="row">
				<div class="col">
					<label for="product_name" class="form-label">Name</label>
					<input type="text" class="form-control" name="product_name" aria-describedby="nameHelp">
					<div id="nameHelp" class="form-text">Enter a name in English.</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label for="description" class="form-label">Description</label>
					<textarea class="form-control" name="description" rows="3" aria-describedby="descriptionHelp"></textarea>

					<div id="descriptionHelp" class="form-text">Write a description.</div>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="col">
					<label for="mass" class="form-label">Mass</label>
					<input type="text" class="form-control" name="mass" aria-describedby="massHelp">
					<div id="massHelp" class="form-text">The mass (weight) in gram.</div>
				</div>
			</div>
			<div class="row">
				<div class="col">				
					<label for="volume" class="form-label">Volume</label>
					<input type="text" class="form-control" name="volume" aria-describedby="volumeHelp">
					<div id="volumeHelp" class="form-text">The volume in ml.</div>
				</div>					
			</div>
			<div class="row">
				<div class="col">				
					<label for="quantity" class="form-label">Quantity</label>
					<input type="text" class="form-control" name="quantity" aria-describedby="quantityHelp">
					<div id="quantityHelp" class="form-text">The quantity in pieces.</div>
				</div>
			</div>
		

	  	<button class="btn btn-outline-secondary" type="submit">Add</button>
	    {% csrf_token %}
	  </form>
	</div>
{% else %}
Login to access this page. <br>
<a class="nav-link" href="{% url 'login' %}">Login</a>
{% endif %}

{% endblock %}
