{% extends 'base.html' %}
{% block title %} Add task {% endblock %}
{% block content %}

{% if user.is_authenticated %}
	<h1>Add task</h1>
	Tasklist: {{ tasklist.id }}

	<div class="form-group">
	  <form method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input type='Submit' name="new_task" value="submit" class="btn btn-secondary">
	    
	  </form>
	</div>
{% else %}
Login to access this page. <br>
<a class="nav-link" href="{% url 'login' %}">Login</a>
{% endif %}

{% endblock %}