{% extends 'base.html' %}
{% block title %} Soup.Dog - Home {% endblock %}
{% block content %}

<h1>Home</h1>
<a href="">Add Post</a></br>
<a href="">Add Category</a></br>
<br>
<a class="btn btn-primary btn-sm btn-block" href="{% url 'add_task_list' %}">Add Task List</a></br></br>

<table class="table table-bordered">
  <thead class="table-dark">
    <tr>
      <td class="col">Tasklist id</td>     
      <td class="col">Task List Product</td>
      <td class="col">Product Name</td>      
      <td class="col">Channel</td>
      <td class="col">API</td>
    </tr>
  </thead>
  <tbody>
{% for tasklist in object_list %}  	
   <tr>
      <td scope="col"><a href="{% url 'task_list_match_view' tasklist.pk%} ">{{ tasklist.pk }}</a></td>
      <td scope="col">{{ tasklist.product }}</td>
      <td scope="col">{{ tasklist.product.name }}</td>
      <td scope="col">{{ tasklist.channel }}</td>
    </tr>
{% endfor %}    
  </tbody>
</table>


  



{% endblock %}